@charset "UTF-8";
/* Общие стили */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  position: relative;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1499) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    width: 1170px;
  }
}

.subtitle {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  font-family: "Work Sans";
  text-align: center;
  margin: 0;
}

.desc-title {
  font-size: 20px;
  line-height: 67px;
  font-weight: 800;
  font-family: "Work Sans";
  margin: 0;
}

.text {
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 400;
  font-family: "Work Sans";
}

.header {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 91px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-logo-link {
    display: inline-block;
    width: 45px;
    height: 30px;
    margin-left: 14px;
  }
}

.nav-menu-wraper {
  position: relative;
}

.nav-menu-wraper:hover .nav-menu {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 700px;
    background-color: #2c4755;
    z-index: 50;
    padding-top: 33px;
    padding-left: 65px;
    opacity: 0;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    top: 0;
    left: 0;
    width: 545px;
    height: 1065px;
  }
}

.close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.nav-menu-title {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #637988;
  font-weight: 400;
  font-family: "Work Sans";
}

.page-navigation-list {
  margin-bottom: 59px;
}

.nav-menu-link {
  display: block;
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Work Sans";
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover, .nav-menu-link:focus {
  color: #10cab7;
}

.navigation-contact-list {
  margin-bottom: 44px;
}

.nav-contact-link {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Work Sans";
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-link:hover, .nav-contact-link:focus {
  color: #10cab7;
}

.social-link {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Work Sans";
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #10cab7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-menu {
    width: 28px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .btn-menu {
    margin-right: 102px;
  }
}

.burger-menu-svg {
  width: 28px;
  height: 16px;
}

.hero {
  max-width: 1920px;
  height: 458px;
  margin: auto;
  background-image: url(../images/hero-images/hero-image@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: url(../images/hero-images/hero-image@2x.png);
  }
}

.hero .container {
  display: block;
  padding-top: 51px;
}

.hero-title {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  font-weight: 800;
  font-family: "Work Sans";
  text-align: center;
  color: #10cab7;
  margin-top: 0;
  margin-bottom: 61px;
}

.title-desc {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #2c4755;
  font-weight: 400;
  font-family: "Work Sans";
  text-align: center;
}

.actual {
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 80px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .actual {
    height: 740px;
  }
}

@media screen and (min-width: 768px) {
  .actual {
    height: 400px;
  }
}

.actual-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .actual-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .actual-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.desc-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .desc-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .desc-list-item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .actual-desc-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .actual-desc-item {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-table-lamp-svg {
    width: 41px;
    height: 42px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .icon-table-lamp-svg {
    width: 71px;
    height: 72px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-flask-svg {
    width: 41px;
    height: 47px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .icon-flask-svg {
    width: 61px;
    height: 77px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-globe-svg {
    width: 42px;
    height: 43px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .icon-globe-svg {
    width: 64px;
    height: 73px;
    margin-bottom: 41px;
  }
}

.actual-desc-title {
  letter-spacing: -1px;
  color: #2c4755;
}

.actual-desc-text {
  color: #575757;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .actual-desc-text {
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .actual-desc-text {
    line-height: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .actual-desc-text .text {
    font-size: 8px;
  }
}

@media screen and (min-width: 768px) {
  .actual-desc-text .text {
    font-size: 15px;
  }
}

.services {
  max-width: 1920px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services {
    height: 875px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 768px) {
  .services {
    height: 826px;
    padding-top: 67px;
    padding-bottom: 103px;
  }
}

.services .container {
  background-image: url(../images/services-background-images/services-image@1x.png), url(../images/services-background-images/services-path@1x.png);
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .services .container .services-wraper {
    background-image: url(../images/services-background-images/services-image@2x.png), url(../images/services-background-images/services-path@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services .container {
    height: 800px;
    padding-top: 95px;
    background-size: 200px 531px, 49px 600px;
    background-position: bottom 30px right 20px, bottom 0 right 0;
  }
}

@media screen and (min-width: 768px) {
  .services .container {
    height: 670px;
    padding-top: 104px;
    background-size: 301px 331px, 102px 436px;
    background-position: bottom 52px right 42px, bottom 0 right 0;
  }
}

.services .main-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: -8px;
  line-height: 195px;
  color: #f6f6f6;
  font-weight: 800;
  font-family: "Work Sans";
  z-index: -5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services .main-title {
    font-size: 90px;
    top: 10%;
    left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .services .main-title {
    font-size: 162px;
    top: 15%;
    left: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services .subtitle {
    margin-bottom: 70px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .services .subtitle {
    margin-bottom: 145px;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services-list {
    margin-left: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .printer {
    width: 265px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .printer {
    width: 343px;
    height: 151px;
    margin-right: 61px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .file {
    width: 265px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .file {
    width: 358px;
    height: 121px;
    margin-right: 394px;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .message {
    width: 265px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .message {
    width: 338px;
    height: 153px;
    margin-right: 59px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .monitor {
    width: 265px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .monitor {
    width: 369px;
    height: 122px;
    margin-right: 386px;
    margin-bottom: 0;
  }
}

.services-desc-title {
  color: #1f2021;
}

.printer-icon::before {
  display: inline-block;
  content: '';
  background-image: url(../images/services-images/printer-icon@1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .printer-icon::before .printer {
    background-image: url(../images/services-images/printer-icon@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .printer-icon::before {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .printer-icon::before {
    width: 38px;
    height: 37px;
    margin-right: 50px;
  }
}

.file-icon::before {
  display: inline-block;
  content: '';
  background-image: url(../images/services-images/file-icon@1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .file-icon::before .printer {
    background-image: url(../images/services-images/file-icon@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .file-icon::before {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .file-icon::before {
    width: 38px;
    height: 37px;
    margin-right: 46px;
  }
}

.message-icon::before {
  display: inline-block;
  content: '';
  background-image: url(../images/services-images/message-icon@1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .message-icon::before .printer {
    background-image: url(../images/services-images/message-icon@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .message-icon::before {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .message-icon::before {
    width: 39px;
    height: 36px;
    margin-right: 45px;
  }
}

.monitor-icon::before {
  display: inline-block;
  content: '';
  background-image: url(../images/services-images/monitor-icon@1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .monitor-icon::before .printer {
    background-image: url(../images/services-images/monitor-icon@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .monitor-icon::before {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .monitor-icon::before {
    width: 42px;
    height: 31px;
    margin-right: 45px;
  }
}

.services-desc-text {
  display: inline-block;
  color: #4d4c4c;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services-desc-text {
    margin-left: 45px;
  }
  .services-desc-text .text {
    font-size: 7px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .services-desc-text {
    margin-left: 85px;
    line-height: 27px;
  }
}

.portfolio {
  max-width: 1920px;
  height: 975px;
  background-color: #fafafa;
  padding-top: 179px;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1499) {
  .portfolio {
    width: 768px;
  }
}

@media screen and (min-width: 1500px) {
  .portfolio {
    width: 1170px;
  }
}

.portfolio .main-title {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 162px;
  letter-spacing: -8px;
  line-height: 195px;
  color: #ebeced;
  font-weight: 800;
  font-family: "Work Sans";
}

.portfolio .portfolio-wraper {
  position: relative;
  z-index: 5;
}

.portfolio .subtitle {
  margin-bottom: 101px;
}

.portfolio .desc-title {
  color: #1f2021;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-list-item {
  width: 501px;
  height: 504px;
  background-color: #ffffff;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-list-item-img {
  width: 501px;
  height: 371px;
}

.portfolio-desc-wraper {
  padding-left: 31px;
  padding-right: 74px;
}

.portfolio-desc {
  line-height: 27px;
  color: #4d4c4c;
  margin: 0;
}

.about {
  height: 828px;
  padding-top: 98px;
  padding-bottom: 73px;
  margin: 0 auto;
}

.about .container {
  position: relative;
  height: 657px;
  margin: 0 auto;
  padding-top: 102px;
  background-image: url(../images/about-background-images/about-grey-image@1x.png), url(../images/about-background-images/about-long-grey-img@1x.png), url(../images/about-background-images/about-green-img@1x.png);
  background-repeat: no-repeat;
  background-position: top 266px left 13px, top 203px left 0, top 242px left 259px;
  background-size: 301px 331px, 111px 454px, 190px 293px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about .container .about-container {
    background-image: url(../images/about-background-images/about-grey-image@2x.png), url(../images/about-background-images/about-long-grey-img@2x.png), url(../images/about-background-images/about-green-img@2x.png);
  }
}

.about .main-title {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 162px;
  letter-spacing: -8px;
  line-height: 195px;
  color: #f6f6f6;
  font-weight: 800;
  font-family: "Work Sans";
}

.about .subtitle {
  margin-bottom: 154px;
}

.about-desc-wraper {
  position: absolute;
  top: 274px;
  right: 0;
  width: 560px;
  height: 303px;
}

.about-desc-title {
  line-height: 40px;
  color: #334752;
}

.about-desc-title::after {
  display: inline-block;
  content: '';
  width: 271px;
  height: 3px;
  background-color: #10cab7;
  margin-top: 57px;
}

.about-desc {
  line-height: 32px;
  color: #575757;
  margin: 0;
}

.contacts {
  height: 721px;
  padding-top: 184px;
  background-color: #fafafa;
  margin: 0 auto;
}

.contacts .main-title {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 162px;
  letter-spacing: -8px;
  line-height: 195px;
  color: #ebeced;
  font-weight: 800;
  font-family: "Work Sans";
}

.contacts .subtitle {
  margin-bottom: 151px;
}

.contacts-wraper {
  position: relative;
  z-index: 5;
}

.contacts-caption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-caption {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  color: #2c4755;
  font-weight: 800;
  font-family: "Work Sans";
  margin-bottom: 29px;
}

.email-link {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 67px;
  color: #10cab7;
  font-weight: 800;
  font-family: "Work Sans";
  margin-left: 45px;
  margin-bottom: 52px;
}

.contacts-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 106px;
}

.contacts-social-links-title {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #334752;
  font-weight: 400;
  font-family: "Work Sans";
  margin: 0;
}

.contacts-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 43px;
}

.contacts-social-list-item:not(:last-child) {
  margin-right: 29px;
}

.contacts-social-link {
  width: 22px;
  height: 22px;
}

.footer {
  display: block;
  margin: 0 auto;
}

.footer-wraper {
  height: 101px;
  background-color: #2c4755;
  padding-top: 44px;
  margin: 0 auto;
}

.footer-desc {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Work Sans";
  text-align: center;
  margin: 0;
}

.footer-desc-text {
  color: #10cab7;
}
/*# sourceMappingURL=main.css.map */