/* Общие стили */
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .link {
    text-decoration: none;
  }
  .img {
    display: block;
    max-width: 100%;
    height: auto;
  }