.actual{
    margin: 0 auto;
    max-width: 1920px;
    height: 400px;
    padding-top: 80px;
}

.actual-list{
    display: flex;
    justify-content: space-between;
}

.desc-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:not(:last-child){
        margin-right: 10px;
    }
}

.actual-desc-item{
    padding-left: 110px;
    padding-right: 110px;
}

.icon-table-lamp-svg{
    width: 71px;
    height: 72px;
    margin-bottom: 50px;
}

.icon-flask-svg{
    width: 61px;
    height: 77px;
    margin-bottom: 48px;
}

.icon-globe-svg{
    width: 64px;
    height: 73px;
    margin-bottom: 41px;
}

.actual-desc-title{
    letter-spacing: -1px;
    color: $main-title-color;
}

.actual-desc-text{
    line-height: 32px;
    color: $grey-text-color;
    text-align: center;
    margin: 0;
}