.contacts{
    max-width: 1920px;
    background-color: $secondary-background-color;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
        height: 450px;
        padding-top: 70px;
    }
     
    @media screen and (min-width: 768px) {
        height: 550px;
        padding-top: 70px;
    }
    
    @media screen and (min-width: 1170px) {
        height: 721px;
        padding-top: 88px;
    }

    .container {
        @media screen and (min-width: 320px) {
            padding-top: 45px;
        }
      
        @media screen and (min-width: 1170px) {
            padding-top: 90px;
        }
    }

    .main-title {
        color: $secondary-strong-title-color;
        z-index: 0;

        @media screen and (min-width: 320px) {
            top: 24%;
            left: 50%;
          }
         
          @media screen and (min-width: 768px) {
            top: 20%;
            left: 50%;
          }
        
          @media screen and (min-width: 1170px) {
            top: 20%;
            left: 50%;
          }
    }

    .subtitle{
        @media screen and (min-width: 1170px) {
            margin-bottom: 152px;
        }
    }
}

.contacts-wraper{
    position: relative;
    z-index: 5;
}

.contacts-caption-container{
    display: flex;
    flex-direction: column;
}

.contacts-caption{
    letter-spacing: -3px;
    color: $main-title-color;
    font-weight: 800;
    font-family: $main-font;

    @media screen and (min-width: 320px) {
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 15px;
      }
     
      @media screen and (min-width: 768px) {
        font-size: 45px;
        line-height: 57px;
        margin-bottom: 29px;
      }
    
      @media screen and (min-width: 1170px) {
        font-size: 55px;
        line-height: 67px;
        margin-bottom: 29px;
      }
}

.email-link{
    letter-spacing: -2px;
    color: $accent-color;
    font-weight: 800;
    font-family: $main-font;

    @media screen and (min-width: 320px) {
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 25px;
    }
     
    @media screen and (min-width: 768px) {
        font-size: 45px;
        line-height: 57px;
        margin-left: 45px;
        margin-bottom: 52px;
    }
    
    @media screen and (min-width: 1170px) {
        font-size: 50px;
        line-height: 67px;
    }
}

.contacts-social-links{
    display: flex;
     
      @media screen and (min-width: 768px) {
        margin-left: 104px;
      }
}

.contacts-social-links-title{
    letter-spacing: -1px;
    color: $secondary-text-color;
    font-weight: 400;
    font-family: $main-font;
    margin: 0;

    @media screen and (min-width: 320px) {
        font-size: 12px;
        line-height: 20px;
      }
     
      @media screen and (min-width: 768px) {
        font-size: 15px;
        line-height: 27px;
      }
    
      @media screen and (min-width: 1170px) {
        font-size: 15px;
        line-height: 27px;
      }
}

.contacts-social-list{
    display: flex;
    margin-left: 46px;
}

.contacts-social-list-item:not(:last-child){
    margin-right: 29px;
}

.contacts-social-link{

    @media screen and (min-width: 320px) {
        width: 12px;
        height: 12px;
    }
     
    @media screen and (min-width: 768px) {
        width: 22px;
        height: 22px;
    }
}
