.header{
    display: block;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
}

.header-logo-link{
    display: inline-block;
    width: 45px;
    height: 30px;
    margin-left: 14px;
}

.burger-menu{
    width: 28px;
    height: 16px;
    padding: 0;
    border: none; 
    background-color: transparent;
    margin-right: 102px;
}

.burger-menu-svg{
    width: 28px;
    height: 16px;
}

