.services{
    max-width: 1920px;

      @media screen and (min-width: 320px) {
        height: 875px;
        padding-bottom: 75px;
      }
     
      @media screen and (min-width: 768px) {
        height: 826px;
        padding-top: 67px;
        padding-bottom: 103px;
      }
    
      @media screen and (min-width: 1170px) {
        height: 832px;
        padding-top: 70px;
        padding-bottom: 0;
      }

    .container{
        background-image: url(../images/services-background-images/services-image@1x.png),
        url(../images/services-background-images/services-path@1x.png);
        background-repeat: no-repeat;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            .services-wraper {
            background-image: url(../images/services-background-images/services-image@2x.png),
            url(../images/services-background-images/services-path@2x.png);
            }
        }

          @media screen and (min-width: 320px) {
            height: 800px;
            padding-top: 95px;
            background-size: 200px 531px, 49px 600px;
            background-position: bottom 30px right 20px, bottom 0 right 0;
          }
         
          @media screen and (min-width: 768px) {
            height: 656px;
            padding-top: 45px;
            background-size: 350px 400px, 80px 500px;
            background-position: bottom 30px right 35px, bottom 0 right 0;
          }
        
          @media screen and (min-width: 1170px) {
            padding-top: 90px;
            background-size: 301px 331px, 102px 436px;
            background-position: bottom 52px right 42px, bottom 0 right 0;
          }
    }

    .main-title {
        color: $strong-title-color;

          @media screen and (min-width: 320px) {
            top: 10%;
            left: 50%;
          }
         
          @media screen and (min-width: 768px) {
            top: 13%;
            left: 50%;
          }
        
          @media screen and (min-width: 1170px) {
            top: 15%;
            left: 50%;
          }
    }

    .subtitle{   
          @media screen and (min-width: 1170px) {
            margin-bottom: 148px;
          }
    }
}

.services-list{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 320px) {
        margin-left: 15px;
      }
     
      @media screen and (min-width: 768px) {
        margin-left: 0;
      }
}

.services-list-item:nth-child(2n + 1){
    margin-right: 20px;

    @media screen and (min-width: 1170px) {
      margin-right: 63px;
    }
}

.printer{
      @media screen and (min-width: 320px) {
        width: 265px;
        margin-bottom: 10px;
      }
     
      @media screen and (min-width: 768px) {
        width: 300px;
        height: 151px;
        margin-bottom: 46px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 341px;
        height: 152px;
        margin-bottom: 46px;
      }
}

.file{
      @media screen and (min-width: 320px) {
        width: 265px;
        margin-bottom: 10px;
      }
     
      @media screen and (min-width: 768px) {
        width: 300px;
        height: 121px;
        margin-bottom: 75px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 358px;
        height: 122px;
        margin-right: 394px;
        margin-bottom: 75px;
      }
}

.message{
      @media screen and (min-width: 320px) {
        width: 265px;
        margin-bottom: 10px;
      }
     
      @media screen and (min-width: 768px) {
        width: 300px;
        height: 153px;
        margin-bottom: 0;
      }
    
      @media screen and (min-width: 1170px) {
        width: 337px;
        height: 151px;
        margin-bottom: 0;
      }
}

.monitor{
      @media screen and (min-width: 320px) {
        width: 265px;
        margin-bottom: 10px;
      }
     
      @media screen and (min-width: 768px) {
        width: 300px;
        height: 122px;
        margin-bottom: 0;
      }
    
      @media screen and (min-width: 1170px) {
        width: 369px;
        height: 122px;
        margin-right: 386px;
        margin-bottom: 0;
      }
}

.services-desc-title{
    color: $black-title-color;
}

.printer-icon::before{
    display: inline-block;
    content: '';
    background-image: url(../images/services-images/printer-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/printer-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;

      @media screen and (min-width: 320px) {
        width: 25px;
        height: 25px;
        margin-right: 25px;
      }
     
      @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        margin-right: 30px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 38px;
        height: 37px;
        margin-right: 50px;
      }
}

.file-icon::before{
    display: inline-block;
    content: '';
    background-image: url(../images/services-images/file-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/file-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;

      @media screen and (min-width: 320px) {
        width: 25px;
        height: 25px;
        margin-right: 25px;
      }
     
      @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        margin-right: 30px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 38px;
        height: 37px;
        margin-right: 46px;
      }
}

.message-icon::before{
    display: inline-block;
    content: '';
    background-image: url(../images/services-images/message-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/message-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;

      @media screen and (min-width: 320px) {
        width: 25px;
        height: 25px;
        margin-right: 25px;
      }
     
      @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        margin-right: 30px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 39px;
        height: 36px;
        margin-right: 47px;
      }
}

.monitor-icon::before{
    display: inline-block;
    content: '';
    background-image: url(../images/services-images/monitor-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/monitor-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;

      @media screen and (min-width: 320px) {
        width: 25px;
        height: 25px;
        margin-right: 25px;
      }
     
      @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        margin-right: 30px;
      }
    
      @media screen and (min-width: 1170px) {
        width: 42px;
        height: 31px;
        margin-right: 45px;
      }
}

.services-desc-text{
    display: inline-block;
    color: $main-text-color;
    margin-top: 0;
    margin-bottom: 0;

      @media screen and (min-width: 320px) {
        margin-left: 45px;
        
        .text{
            font-size: 7px;
            line-height: 20px;
        }
      }
     
      @media screen and (min-width: 768px) {
        margin-left: 60px;
        
        .text{
            font-size: 7px;
            line-height: 20px;
        }
      }
    
      @media screen and (min-width: 1170px) {
        margin-left: 85px;
        line-height: 27px;
      }

}