.services{
    height: 826px;
    padding-top: 67px;
    padding-bottom: 103px;

    .container{
        height: 670px;
        padding-top: 104px;

        background-image: url(../images/services-background-images/services-image@1x.png),
        url(../images/services-background-images/services-path@1x.png);
        background-repeat: no-repeat;
        background-position: bottom 52px right 42px, bottom 0 right 0;
        background-size: 301px 331px, 102px 436px;
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            .services-wraper {
            background-image: url(../images/services-background-images/services-image@2x.png),
            url(../images/services-background-images/services-path@2x.png);
            }
        }
    }

    .subtitle{
        margin-bottom: 145px;
    }
}

.services-list{
    display: flex;
    flex-wrap: wrap;
}

.printer{
    width: 343px;
    height: 151px;
    margin-right: 61px;
    margin-bottom: 46px;
}

.file{
    width: 358px;
    height: 121px;
    margin-right: 394px;
    margin-bottom: 75px;
}

.message{
    width: 338px;
    height: 153px;
    margin-right: 59px;
}

.monitor{
    width: 369px;
    height: 122px;
    margin-right: 386px;
}

.services-desc-title{
    color: $black-title-color;
}

.printer-icon::before{
    display: inline-block;
    content: '';
    width: 38px;
    height: 37px;
    background-image: url(../images/services-images/printer-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/printer-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;
    margin-right: 50px;
}

.file-icon::before{
    display: inline-block;
    content: '';
    width: 38px;
    height: 37px;
    background-image: url(../images/services-images/file-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/file-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;
    margin-right: 46px;
}

.message-icon::before{
    display: inline-block;
    content: '';
    width: 39px;
    height: 36px;
    background-image: url(../images/services-images/message-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/message-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;
    margin-right: 45px;
}

.monitor-icon::before{
    display: inline-block;
    content: '';
    width: 42px;
    height: 31px;
    background-image: url(../images/services-images/monitor-icon@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .printer {
        background-image: url(../images/services-images/monitor-icon@2x.png);
        }
    }
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-top;
    margin-right: 45px;
}

.services-desc-text{
    display: inline-block;
    line-height: 27px;
    color: $main-text-color;
    margin-left: 85px;
}